.home_content {

}

.home_content.width {

}

.menu {
    display: flex;
    width: 100%;
    padding: 20px;
    height: inherit;
}

.appeals {
    /*border: 1px solid black;*/
    flex: 2;
    padding: 20px 20px;
    max-width: 1020px;
}

.caption {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.notifications {
    flex: 1;
    padding: 20px;
    max-width: 600px;
}

.notificationsContainer {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(197, 201, 206, 0.4);
}

.shortNotificationsContainer {
    overflow: hidden;
    max-height: 245px;
    transition: max-height 0.5s ease 0s;
}

.fullNotificationsContainer {
    overflow: scroll;
    max-height: calc(100vh - 300px);
    transition: max-height 0.5s ease 0s;
}

.allAppeals {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 16px;
    color: #1A73E8;
    cursor: pointer;
}

.allNotifications {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 16px;
    color: #1A73E8;
    cursor: pointer;
}

.newAppeal {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #85B6FF;
    background: transparent;
    margin-bottom: 12px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #85B6FF;
}

.newAppeal:hover {
    border: 2px solid #85B6FF;
}

.newAppealPlus {
    cursor: pointer;
    font-size: 24px;
}

.newAppealText {
    cursor: pointer;
    margin-left: 7px;
    font-size: 16px;
}