.home_content {

}

.home_content.width {

}

.menu {
    display: flex;
    width: 100%;
    padding: 0 20px;
    height: inherit;
}

.appeals {
    flex: 2;
    max-width: 800px;
}

.main_caption {
    font-family: "Helvetica", sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.caption {
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.search_block {
    margin-bottom: 20px;
}

.notifications {
    flex: 1;
    padding: 0 20px;
    max-width: 500px;
}

.notificationsContainer {
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 7px 14px rgba(197, 201, 206, 0.4);
}

.shortNotificationsContainer {
    overflow: hidden;
    max-height: 245px;
    transition: max-height 0.5s ease 0s;
}

.fullNotificationsContainer {
    overflow: scroll;
    max-height: calc(100vh - 300px);
    transition: max-height 0.5s ease 0s;
}

.allNotifications {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica", sans-serif;
    padding: 20px 0;
    font-size: 14px;
    color: #1A73E8;
    cursor: pointer;
}