.right_side_bar {
    flex: 1;
    padding: 0 20px 0 5px;
    max-width: 500px;
    max-height: calc(100vh - 30px);
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.right_side_bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right_side_bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.search_block {
    margin: 20px 0;
}

.caption {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}

.notifications {
    background: var(--base-color__white);
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 7px 14px rgba(197, 201, 206, 0.4);
}

.allNotifications {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.allNotifications:hover {
    color: var(--base-color__black30);
}

.notifications_button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    color: var(--base-color__black);
    background-color: rgba(241, 241, 241, 0.7);
    border-radius: 6px;
    padding: 5px 10px;
    border: 1px solid rgba(241, 241, 241, 0.8);
}

.notifications_button:hover {
    background-color: rgba(241, 241, 241, 0.9);
}

.create_new {
    display: flex;
    background: var(--base-color__white);
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px 0 rgba(197, 201, 206, 0.6);
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: var(--button__secondary);
    cursor: pointer;
}

.button_container:hover {
    background: rgb(237, 255, 165);
}

.list {
    color: var(--button__primary);
    cursor: pointer;
}

.list:hover {
    color: var(--button__primary-hover);
}

.create_text {
    padding: 12px;
}

.create_caption {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
}

.create_notice {
    font-size: 12px;
    color: #9a9a9a;
}