.tab {
    display: flex;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    margin: 4px 15px;
    border-radius: 15px;
    color: var(--base-color__text_light);
}

.tab:hover {
    background: var(--base-color__white25);
}

.tab:hover i > svg {
    fill: var(--base-color__white);
}

.active {
    background: var(--base-color__button);
    color: var(--base-color__white);
}

.icon {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}

.icon_active svg {
    fill: var(--base-color__white);
}

.name {
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    font-weight: 500;
    font-size: 14px;
    pointer-events: none;
}

.hide_name {
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}