.tab {
    display: flex;
    flex-direction: column;
    min-height: 36px;
    padding-left: 0px;
    padding-right: 0px;
    opacity: 1;
    color: rgb(61, 61, 61);
    background-color: transparent;
    transition: all 75ms ease-in 0s;
    margin: 0 8px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 4px;
}

.tab:first-child {
    margin-top: 4px;
}

.tab:hover {
    background: rgba(100, 100, 100, 0.1);
    color: var(--base-color__black);
}

.tab_body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 8px;
    flex: 1 1 0%;
    color: inherit;
    text-decoration: none;
    transition: color 100ms ease;
}

.tab:hover i > svg {
    fill: var(--base-color__black);
}

.active {
    background: rgba(100, 100, 100, 0.1);
    color: var(--base-color__black);
    box-shadow: rgb(172, 156, 255) 0px 0px 0px 1px;
}

.icon {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 36px;
    padding-left: 8px;
    padding-right: 4px;
}

.icon_active svg {
    fill: var(--base-color__white);
}

.name {
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    font-weight: 500;
    font-size: 14px;
    pointer-events: none;
}

.hide_name {
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}