
.create-new-claim-form

  .title
    color: #000000
    font-size: 18px
    line-height: 22px
    font-weight: 500
    margin: 12px 0

  .enter-title
    width: 100%
    font-size: 22px
    font-weight: 500
    padding: 4px 0
    margin-top: 12px

  .warning-line
    width: 100%
    border-bottom: 1px solid transparent
    &._red
      border-color: var(--base-color__red500)

  .organisation
    display: flex
    flex-direction: column
    padding: 16px
    background: rgba(241, 241, 241, 0.5)
    border-radius: 6px

    .caption
      display: flex
      font-size: 22px
      font-weight: 500
      margin-bottom: 8px

    .description
      display: flex
      align-items: flex-end
      font-size: 14px
      line-height: 18px
      font-weight: 400
      margin-bottom: 8px
      &._red
        color: var(--base-color__red500)

      .warning-icon
        margin-bottom: 3px
        margin-left: 4px

    .pick-block
      display: flex
      align-items: center
      justify-content: space-between

      .tabs
        display: flex
        align-items: center
        padding: 4px
        border-radius: 6px
        background: #e2e2e2
        width: 100%

        .tabs-item
          padding: 6px 11px
          color: black
          cursor: pointer
          border-radius: 4px
          font-size: 14px
          line-height: 16px
          background: var(--base-color__white)
          white-space: nowrap

          &._search-input
            padding: 0
            width: 100%

          &._active
            color: var(--base-color__button)

          &:nth-child(2)
            margin-left: 4px

          &:last-child
            margin-left: 4px

          &:first-child
            margin-left: 0

    .content
      margin-top: 12px
      display: flex
      flex-direction: column

.org-search
  width: 100%
  padding: 3px 11px

.icon
  display: flex
  align-items: center
  justify-content: center
  padding-left: 6px !important
  padding-right: 6px !important

  &._trash
    margin-left: 12px

  &._trash:hover
    color: rgba(203, 60, 60, 0.94) !important

  &:hover
    color: var(--base-color__grey500) !important

.nothing-found-menu-item
  width: 100%
  display: flex
  align-items: center
  justify-content: center

  .nothing-found-text
    margin-left: 8px

.menu-item
  overflow-x: scroll

  .item-key
    color: var(--base-color__grey500)

  .item-name
    color: black

    &:after
      content: '|'
      margin-left: 8px
      margin-right: 8px

.text
  margin-top: 12px

  .claim-text-caption
    display: flex
    font-size: 16px
    font-weight: 500
    margin-bottom: 4px


.editor-tool-bar
  border: 1px solid #d9d9d9 !important

.editor-edit-text
  & > div
    border-bottom: 1px solid #d9d9d9 !important
    border-left: 1px solid #d9d9d9 !important
    border-right: 1px solid #d9d9d9 !important
    border-top: none
    font-size: 14px
  &._red > div
    border-color: var(--base-color__red500) !important

.error-block
  display: flex
  justify-content: flex-end
  min-height: 16px
  line-height: 16px
  font-size: 14px

.submit-block
  display: flex
  justify-content: flex-end
  margin: 12px 0 28px

  & > button:last-child
    margin-left: 8px

  .cancel-button
    width: auto
    background-color: rgba(100, 100, 100, 0.1)
    color: var(--button__textBlack)
    &:hover
      background-color: rgba(100, 100, 100, 0.2)

  .submit-button
    width: auto
    background-color: var(--button__primary)
    color: var(--button__textWhite)
    &:hover
      background-color: var(--button__primary-hover)

.close-icon
  display: flex
  align-items: center
  justify-content: center

.error-message-content
  display: flex
  align-items: center
  //.icon
  //  width: 16px
  //  height: 16px
  //  color: var(--base-color__button)
  .message
    margin-left: 8px
