/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Roboto', sans-serif;*/
/*}*/

.wrapper {
    height: 100vh;
    overflow: hidden;
    /*min-width: 1210px; !* подумать над этим дерьмом *!*/
    /*max-width: 1920px;*/
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    background: url("./resources/bgWhiteBlue.jpg") no-repeat 50%/cover;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    height: 100%;
    width: 100%;
}