@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.header_content {
    position: fixed;
    height: 56px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease;
    border-bottom: 2px solid rgba(241, 241, 241, 0.5);
    z-index: 10;
}

.menu_icon {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 15px;
    font-size: 25px;
    color: var(--base-color__black);
    cursor: pointer;
    transition: transform 0.7s ease;
}

.menu_icon:hover {
    color: rgba(40, 40, 40, 0.82);
}

.touched {
    transform: rotate(180deg)
}

.text {
    color: #d5d5d5;
    font-size: 22px;
    font-weight: 600;
    margin-left: 16px;
}

.center_header_panel {
    width: 320px;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
}

.right_header_panel {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 15px;
}

.panel_item {
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    color: rgb(61, 61, 61);
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    outline: none;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .1s,color;
    white-space: nowrap;
    margin: 0 4px;
    border-radius: 6px;
}

.panel_item:hover {
    background: rgba(100, 100, 100, 0.1);
    color: var(--base-color__black);
}

.notification_button {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(61, 61, 61);
    transition: all 0.1s ease-in 0s;
    border-radius: 6px;
    cursor: pointer;
}

.notification_button:hover {
    background: rgba(100, 100, 100, 0.1);
    color: var(--base-color__black);
}

.notification_button_active {
    background: rgba(100, 100, 100, 0.1);
    color: var(--base-color__black);
    box-shadow: rgb(172, 156, 255) 0px 0px 0px 1px;
}

.settings_button {
    padding: 4px;
    border-radius: 50%;
}

.account_button {
    padding: 5px;
}

.account_button_background {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
    background-color: rgba(252, 105, 72, 0.94);
}

.search {
    display: flex;
    align-items: center;
    color: rgb(61, 61, 61);
    margin-left: 140px;
}