@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.home_content {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    left: 240px;
    width: calc(100% - 240px);
    transition: all 0.5s ease;
}

.home_content.width {
    left: 70px;
    width: calc(100% - 70px);
}

.menu_icon {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 15px;
    font-size: 25px;
    color: var(--base-color__black);
    cursor: pointer;
    transition: transform 0.7s ease;
}

.menu_icon:hover {
    color: rgba(40, 40, 40, 0.82);
}

.touched {
    transform: rotate(180deg)
}

.text {
    color: #11101d;
    font-size: 26px;
    font-weight: 600;
}