@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.home_content {
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 240px;
    width: calc(100% - 240px);
    transition: all 0.5s ease;
}

.home_content.width {
    left: 70px;
    width: calc(100% - 70px);
}

.home_content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home_content .menu_icon,
.home_content .text {
    color: #11101d;
    font-size: 35px;
}

.home_content .menu_icon {
    cursor: pointer;
    font-size: 35px;
    height: 35px;
    min-width: 70px;
    text-align: center;
}

.home_content .text {
    font-size: 26px;
    font-weight: 600;
}