.main_wrapper {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    background: var(--base-color__white80);
    transition: all 0.5s ease;
    padding-left: 260px;
}

.wrapper_content {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.center_content {
    display: flex;
    justify-content: center;
}

.squeeze {
    /*left: 260px;*/
    width: 100%;
    transition: all 0.5s ease;
}