@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.home_section {
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 300px;
    width: calc(100% - 300px);
    transition: all 0.5s ease;
}

.sidebar.close ~ .home_section {
    left: 78px;
    width: calc(100% - 78px);
}
