.appealsItem {
    background: #ffffff;
    margin-bottom: 12px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(197, 201, 206, 0.4);
}

.appealsContainer {
    display: flex;
    width: 100%;
}

/*.appealsContainer div {*/
/*    margin-left: 10px*/
/*}*/

.itemIcon {
    display: flex;
    align-items: center;
}

.itemSuccessIcon {
    background: url("../../App/resources/flat-color-icons_ok.svg") center/cover no-repeat;
    width: 30px;
    height: 30px;
    /*filter: drop-shadow(3px 3px 2px rgba(0, 225, 139, 0.7));*/
}

.itemInProcessIcon {
    background: url("../../App/resources/fa-solid_question-circle.svg") center/cover no-repeat;
    width: 30px;
    height: 30px;
    /*filter: drop-shadow(3px 3px 2px rgba(248, 192, 76, 0.7));*/
}

.itemSentIcon {
    background: url("../../App/resources/bi_send-check-fill.svg") center/cover no-repeat;
    width: 30px;
    height: 30px;
    /*filter: drop-shadow(3px 3px 2px rgba(76, 130, 248, 0.7));*/
}

.itemData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.itemId {
    font-size: 14px;
    font-weight: 400;
}

.itemDate {
    font-size: 12px;
    font-weight: 400;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.itemTitle {
    font-size: 16px;
    font-weight: 500;
}

.itemShortDescription {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}

.itemStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 14%;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
}

.itemSuccessStatus {
    color: #4CAF50;
}

.itemInProcessStatus {
    color: #FECF56;
}

.itemSentStatus {
    color: #85B6FF;
}