.appealsItem {
    background: rgba(241, 241, 241, 0.5);
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(241, 241, 241, 0.8);
}

.successItem {
    background-image: linear-gradient(120deg, rgba(0, 255, 33, 0.2) 0%, rgba(217, 238, 220, 0.90) 100%);
}

.progressItem {
    background-image: linear-gradient(120deg, rgba(157, 0, 255, 0.2) 0%, rgba(230, 217, 238, 0.9) 100%);
}

.sentItem {
    background: rgba(0, 196, 255, 0.25);
}

.appealsContainer {
    display: flex;
    width: 100%;
}

/*.appealsContainer div {*/
/*    margin-left: 10px*/
/*}*/

.itemIcon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 12px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-size: 22px;*/
    padding: 4px;
    border: 1px solid rgb(236, 236, 236);
    /*background-color: rgba(241, 241, 241, 0.7);*/
    border-radius: 4px;
    /*box-shadow: 0  7px 14px rgba(197, 201, 206, 0.4);*/
}

.iconContainer:hover {
    background-color: #dedede;
}


.itemSuccessIcon {
    background: url("../../app/resources/flat-color-icons_ok.svg") center/cover no-repeat;
    width: 30px;
    height: 30px;
    /*filter: drop-shadow(3px 3px 2px rgba(0, 225, 139, 0.7));*/
}

.itemInProcessIcon {
    background: url("../../app/resources/fa-solid_question-circle.svg") center/cover no-repeat;
    width: 30px;
    height: 30px;
    /*filter: drop-shadow(3px 3px 2px rgba(248, 192, 76, 0.7));*/
}

.itemSentIcon {
    background: url("../../app/resources/bi_send-check-fill.svg") center/cover no-repeat;
    width: 30px;
    height: 30px;
    /*filter: drop-shadow(3px 3px 2px rgba(76, 130, 248, 0.7));*/
}

.itemData {
    display: flex;
    flex-direction: column;
}

.itemId {
    font-size: 14px;
    color: #c0bcfd;
    font-weight: 500;
}

.itemDate {
    font-size: 12px;
    color: #c0bcfd;
    font-weight: 500;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemTitle {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
}

.itemShortDescription {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}

.itemStatus {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
}

.itemSuccessStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: var(--base-color__white);
    font-weight: 500;
    font-size: 12px;
    background: rgba(87, 206, 120, 0.8);
    box-shadow: 0 7px 14px rgb(87, 206, 120, 0.3);
    padding: 5px 7px;
    border-radius: 8px;
    white-space: nowrap;
}

.itemInProcessStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: var(--base-color__white);
    font-weight: 500;
    font-size: 12px;
    background: var(--violet-color__background);
    box-shadow: 0 7px 14px rgb(178, 157, 246, 0.4);
    padding: 5px 7px;
    border-radius: 8px;
    white-space: nowrap;
}

.itemSentStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: var(--base-color__white);
    font-weight: 500;
    font-size: 12px;
    background: rgb(43,132,239);
    background: linear-gradient(135deg, rgba(43,132,239,1) 0%, rgba(103,172,255,1) 100%);
    box-shadow: 0 7px 14px rgb(43, 132, 239, 0.3);
    padding: 5px 7px;
    border-radius: 8px;
    white-space: nowrap;
}

.itemVerificationStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: var(--base-color__white);
    font-weight: 500;
    font-size: 12px;
    background: rgba(255, 201, 65, 1);
    box-shadow: 0 7px 14px rgb(255, 201, 65, 0.3);
    padding: 5px 7px;
    border-radius: 8px;
    white-space: nowrap;
}

.itemWaitingForAction {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: var(--base-color__white);
    font-weight: 500;
    font-size: 12px;
    background: rgb(255, 160, 65);
    box-shadow: 0 8px 14px rgba(255, 179, 65, 0.3);
    padding: 5px 7px;
    border-radius: 8px;
    white-space: nowrap;
}