.info-container
  display: flex
  flex-direction: column

  .caption
    color: #000000

  .description
    color: #383838
    margin: 12px 0

  .buttons
    display: flex
    justify-content: flex-end
    margin-top: 24px

    & > *:last-child
      margin-left: 8px

    .back-btn
      width: unset
      min-width: 100px
      border: 1px solid #ececec
      background-color: #f8f8f8
      color: rgba(0, 0, 0, 0.8)

      &:hover
        background-color: rgba(248, 248, 248, 0.9)
        box-shadow: 0 0 0 2px rgba(248, 248, 248, 0.9)

    .next-btn
      width: unset
      min-width: 134px
      border: 1px solid #ececec
      background-color: var(--button__primary)
      color: var(--button__textWhite)

      &:hover
        background-color: var(--button__primary-hover)
        box-shadow: 0 0 0 2px #3434341A

  .org-part-content
    display: flex
    flex-direction: column
    padding: 16px
    background: rgba(241, 241, 241, 0.5)
    border-radius: 6px
    margin-top: 20px

    .caption
      display: flex
      font-size: 22px
      font-weight: 500
      margin-bottom: 8px

    .description
      display: flex
      align-items: flex-end
      font-size: 14px
      line-height: 18px
      font-weight: 400
      margin-bottom: 8px
      &._red
        color: var(--base-color__red500)

      .warning-icon
        margin-bottom: 3px
        margin-left: 4px

    .pick-block
      display: flex
      align-items: center
      justify-content: space-between

      .tabs
        display: flex
        align-items: center
        padding: 4px
        border-radius: 6px
        background: #e2e2e2
        width: 100%

        .tabs-item
          padding: 6px 11px
          color: black
          cursor: pointer
          border-radius: 4px
          font-size: 14px
          line-height: 16px
          background: var(--base-color__white)
          white-space: nowrap

          &._search-input
            padding: 0
            width: 100%

          &._active
            color: var(--base-color__button)

          &:nth-child(2)
            margin-left: 4px

          &:last-child
            margin-left: 4px

          &:first-child
            margin-left: 0

  .content
    margin-top: 20px
    display: flex
    flex-direction: column
    padding: 24px 16px
    border-top: 1px solid #e2e2e2

.org-search
  width: 100%
  padding: 3px 11px

.icon
  display: flex
  align-items: center
  justify-content: center
  padding-left: 6px !important
  padding-right: 6px !important

  &._trash
    margin-left: 12px

  &._trash:hover
    color: rgba(203, 60, 60, 0.94) !important

  &:hover
    color: var(--base-color__grey500) !important

.nothing-found-menu-item
  width: 100%
  display: flex
  align-items: center
  justify-content: center

  .nothing-found-text
    margin-left: 8px

.menu-item
  overflow-x: scroll

  .item-key
    color: var(--base-color__grey500)

  .item-name
    color: black

    &:after
      content: '|'
      margin-left: 8px
      margin-right: 8px