.org-part

  .caption
    margin: 20px 0
    color: #000000

  .buttons
    display: flex
    justify-content: flex-end
    margin-top: 24px

    & > button
      width: unset
      min-width: 134px
      border: 1px solid #ececec
      background-color: var(--button__primary)
      color: var(--button__textWhite)

      &:hover
        background-color: var(--button__primary-hover)
        box-shadow: 0 0 0 2px #3434341A