@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

.container {
    position: relative;
    max-width: 100%;
    width: 430px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 35px;
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 617px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
}

.form .input_field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input_field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    transition: 0.3s ease;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
}

.input_field input:is(:focus, :valid) {
    border-bottom-color: #1A73E8;
}

.input_field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
}

.input_field small {
    position: absolute;
    top: 100%;
    color: #e6003e;
}

.input_field small.errmsg {
    opacity: 100;
}

.input_field small.offscreen {
    opacity: 0;
}

.input_field input:is(:focus, :valid) ~ i {
    color: #1A73E8;
}

.input_field i.icon {
    left: 0;
}

.input_field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.form .checkbox_content {
    display: flex;
    align-items: center;
}

.checkbox_content input {
    accent-color: #1A73E8;
    margin-right: 8px;
}

.form .text {
    font-size: 14px;
    color: #333;
}

.form a.text {
    color: #1A73E8;
    text-decoration: none;
    cursor: pointer;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #265df2;
}

.form .login_signup {
    margin-top: 30px;
    text-align: center;
}

.clientError {
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.clientError.active {
    visibility: visible;
    color: #e6003e;
}