.notificationItem {
    display: flex;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 5px;
}

.notificationItem:hover {
    background: rgba(238, 234, 245, 0.5);
    transition: all 0.3s ease;
}

.notificationItem:last-child {
    margin-bottom: 0;
}

.itemIcon {
    display: flex;
    height: 10px;
    width: 10px;
    margin: 5px 14px 0 0;
    background: rgba(59, 192, 85, 1);
    border-radius: 50%;
    border: 1px solid rgb(57, 183, 81);
    box-shadow: 0  7px 14px rgba(59, 192, 85, 0.6);
}

.readIcon {
    background: none;
    box-shadow: 0  7px 14px rgba(59, 192, 85, 0.4);
}

.itemSuccessIcon {
    background: url("../../App/resources/flat-color-icons_ok.svg") center/cover no-repeat;
    width: 30px;
    height: 30px;
}

.itemNewStatusIcon {
    background: url("../../App/resources/akar-icons_more-horizontal.svg") center/cover no-repeat;
    width: 30px;
    height: 30px;
}

.itemSentIcon {
    background: url("../../App/resources/bi_send-check-fill.svg") center/cover no-repeat;
    width: 30px;
    height: 30px;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemTitle {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.itemId {
    font-size: 14px;
    color: #999999;
}

.itemTime {
    display: flex;
    margin-left: auto;
    color: #999999;
    font-size: 14px;
}